*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  color: #5d6063;
  background-color: #eaedf0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  margin: 4rem 0;
  padding: 5rem;
}

.header__heading1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.form,
.media-container {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  padding: 5rem 5rem 3rem 5rem;
  margin: 0 0 4rem 0;
}

.form-row {
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 0.3rem;
  width: 100%;
  padding: 0.7rem;
  font-size: 1.4rem;
}

input[type='color'] {
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
}

.form-row label {
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 700px) {
  .header,
  .form,
  .media-container {
    width: 60rem;
  }
  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 2rem;
  }
  .form-row input,
  .form-row select,
  .form-row textarea {
    width: 25rem;
  }
  .form-row label {
    text-align: right;
    width: 12rem;
    margin-top: 0.7rem;
    padding-right: 2rem;
  }
}

fieldset {
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

legend {
  padding: 0 0.5rem 0 0.5rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.4rem;
}

textarea {
  font-family: 'Helvetica', 'Arial', sans-serif;

  min-height: 20rem;
  margin-bottom: 1rem;
  padding: 0.7rem;
  resize: none;

  border: 1px solid #d6d9dc;
  border-radius: 3px;
}

.buttons__description {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.buttons__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 16px;
  font-weight: bold;

  color: #ffffff;
  background-color: #5995da;

  border: none;
  border-radius: 3px;

  padding: 1rem 2rem;
  cursor: pointer;
}

output {
  width: 100%;
  text-align: center;
}

.form-row__progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
